<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
        <div class="form-group">
          <label for="name">Ime</label>
          <input type="text" class="form-control" name="name" placeholder="Unesite ime" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="surname">Prezime</label>
          <input type="text" class="form-control" name="surname" placeholder="Unesite prezime" [(ngModel)]="credentials.surname">
        </div>
        <div class="form-group">
          <label for="position">Zanimanje</label>
          <input type="text" class="form-control" name="position" placeholder="Unesite zanimanje" [(ngModel)]="credentials.position">
        </div>
        <div class="form-group">
          <label for="sex">Pol</label>
          <input type="text" list="pol" class="form-control" name="sex" placeholder="Unesite pol" [(ngModel)]="credentials.sex">
                <datalist id="pol"> 
                    <option value="M">
                    <option value="Ž"> 
                </datalist>
        </div>
         <div class="form-group">
          <label for="email">Email adresa</label>
          <input type="email" class="form-control" name="email" placeholder="Unesite email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Lozinka</label>
          <input type="password" class="form-control" name="password" placeholder="Unesite lozinku" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Registruj se!</button>
      </form>
    </div>
  </div>
</div>